<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">ROMA VS AC MILAN</h5>
      <p class="card-text">Monday, 1 November 2021 - 01:45 WIB</p>
      <a href="#" class="btn btn-primary">Watch</a>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">AC MILAN VS PORTO</h5>
      <p class="card-text">Thursday, 4 November 2021 - 00:45 WIB</p>
      <a href="#" class="btn btn-primary">Watch</a>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">AC MILAN VS INTER</h5>
      <p class="card-text">Monday, 8 November 2021 - 01:45 WIB</p>
      <a href="#" class="btn btn-primary">Watch</a>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">FIORENTINA VS AC MILAN</h5>
      <p class="card-text">Sunday, 21 November 2021 - 01:45 WIB</p>
      <a href="#" class="btn btn-primary">Watch</a>
    </div>
</div>
<div class="card w-100">
    <div class="card-body">
      <h5 class="card-title">ATLETICO MADRID VS AC MILAN</h5>
      <p class="card-text">Thursday, 25 November 2021 - 03:00 WIB</p>
      <a href="#" class="btn btn-primary">Watch</a>
    </div>
</div>
