<ngb-carousel >
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/c1.jpg" alt="Random first slide">
      </div>
      <div class="carousel-caption">
        <h3>Associazione Calcio Milan</h3>
        <p>I Rossoneri (The Red and Blacks)</p>
        <p>Il Diavolo (The Devil)</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/c2.jpg" alt="Random second slide">
      </div>
      <div class="carousel-caption">
        <h3>Stadio Comunale di San Siro</h3>
        <p>Milan, Italy</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/c3.jpg"  alt="Random third slide">
      </div>
      <div class="carousel-caption">
        <h3>Elliott Management Corporation</h3>
        <p>It is the management affiliate of American hedge funds Elliott Associates L.P. and Elliott International Limited. The Elliott Corporation was founded by Paul Singer, who is CEO of the management company, based in New York City. As of the first quarter of 2015, Elliott's portfolio is worth over $8 billion.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img src="../../assets/c4.jpg" alt="Random fourth slide">
      </div>
      <div class="carousel-caption">
        <h3>Sandro Tonali's Sacrifice at AC Milan, Mediano's Throne, Pirlo's Replication and Ricky Massara's Intelligence</h3>
        <p>Italian football, has a different approach in describing players. 
            Instead of matching names with positions, players are identified according to their typical Italian role.
            Italy does not know the term playmaker, but regista (director), or number 10, but Teraquartista (Three Quarters field), 
            box to box Midfielder but Mediano.
            Mediano, always close to two things: a talentless midfielder and AC Milan.And at AC Milan, 
            this tradition has not stopped with many changes in Sandro Tonali. Mediano emerged in the '70s, 
            with Romeo Benetti the standard for this position. His body is sturdy, his game is quite brutal in midfield, 
            and often serves to guard the opponent's teraquartista. 
            Then there is Giovanni Lodetti who serves to keep Gianni Rivera from being disturbed by opposing defenders.
            The big change occurred when Giovanni Trappatoni appeared, 
            he did not keep the opponent tight, but prevented the opponent from getting the ball while distributing it to the front line. 
            Francobollatore is the mediano variant for the typical Trappatoni, and in Sandro Tonali , 
            Pioli changed it from teraquartista to mediano.
        </p>
      </div>
    </ng-template>
  </ngb-carousel>